<div class="container-fluid">
    <h1>Hello World</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead >
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Rohan Goski</td>
                    <td>123454321</td>
                    <td>1117 Ashok chowk solapur</td>
                    <td>rohan@epps-erp.como</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sohel mulla</td>
                    <td>123454321</td>
                    <td>12/21 mumbai</td>
                    <td>Sohel@email.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>jay badganchi</td>
                    <td>897826371</td>
                    <td>12/3 pune</td>
                    <td>jay@email.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>stive smith</td>
                    <td>754354321</td>
                    <td>1/11 Delhi</td>
                    <td>stive@email.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Jhon sena</td>
                    <td>981728321</td>
                    <td>32/1 Gujrat</td>
                    <td>jhon@email.com</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Miller</td>
                    <td>612354321</td>
                    <td>71/1 UK</td>
                    <td>miller@email.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <span class="text-warning" *ngIf="isspecial">This is a employee data</span>

    <ul>
        <li *ngFor="let item of contry">{{item}}</li>
    </ul>
    <h2 [ngClass]="isspecial?classname:'' ">Testing ngClass</h2>
    <h2 [ngStyle]="style">Testing ngStyle</h2>
    <input (change)="datachange()" [(ngModel)]="inputvalue" />
    <h2>{{Amount | sgdtoinr : sgdrate}}</h2>
</div>
<router-outlet></router-outlet>

