<div class="container-fluid text-white" style="display:flex;">
    <div class="row">
        <div class="mt-4 ">
            <div>
                <h2 class="p-1">interProductec</h2>
            </div>
            <div style="opacity: 0.5;">
                InterProducTec is a State-of-the-Art software Artificial Intelligence and IT <br>company providing virtual support to production processes in varying areas<br> of the food industry. Our intelligent sensor systems help our <br> clients achieve the best quality and <br> the most efficient production processes.
            </div>
        </div>
    </div>
    
        <div class="mt-4" style="opacity: 0.8;">
            <h4>CONTACT INFO</h4>
            <div style="opacity: 0.5;">
                <p>Epps Infotech Pvt. Ltd. <br>Ponama House, Plot No.3, 3rd Floor <br> Behind Phoenix Mall <br> viman nagar , Pune – 411014 <br> Maharashtra, India</p>
                <p><a href="mailto:info@epps-erp.com">info@epps-erp.com</a></p>
            </div>
        </div>
    
    

    
        <div class="mt-4" style="opacity: 0.8;">
            <h4>QUICK LINKS</h4>
            <ul style="opacity: 0.5;">
                <li><a href="">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Employee">Employee</a></li>
                <li><a href="customer">Customer</a></li>
                <li><a href="login validation">Login validation</a></li>
            </ul>
        </div>
    
    
    
        <div class="mt-4">
            <div style="opacity: 0.8;">
                <h4>LEGAL</h4>
            </div>
            <div style="opacity: 0.5;">
                <ul class="col-lg-12 col-md-12">
                    <li><a href="policy">Imprint</a></li>
                    <li><a href="policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
</div>

<div class="container-fluid p-5 text-white">
    <div class="row">
        <div class="col-lg-6 col-md-12" style="opacity: 0.5;">
            <p>&#169;<span>2021 <a href="">InterProducTec.</a>All rights reserved.</span></p>
        </div>
        <div class="col-lg-6 col-sm-12 px-5" id="demo">
            <a href="https://www.facebook.com/" target="_blank" class="px-4"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank" class="px-4"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="px-4"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>

