<div class="container col-lg-12">
    <h1 class="p-4 font-weight-bold">Current Employee : {{Empid}}</h1>
    <div class="card-box">
        <form class="employeesform">
            <div class="row" style="text-align: center; display: block;">
                <h2>Add/Edit Employee</h2>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" id="txtcode" [disabled]="true" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="txtname" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" id="txtemail" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" id="txtno" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="form-group">
                        <label>Designation</label>
                        <select class="form-control">
                            <option>Select</option>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="offset-lg-3 col-lg-2">
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </div>
                <div>
                    <br>
                    <!-- <span class="{{ }}">{{}}</span> -->
                </div>
            </div>
    
        </form>
    </div>     
</div>
