<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="font-weight-bold text-center p-4" style="color: #0C5D58;"> REVIEWS, CASE STUDIES AND<br> TESTIMONIALS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center;">
            <h6>Get inspired by exploring the many success stories from our customers.</h6>
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            <img class="image-responsive" style="width: 100%;" src="https://www.superoffice.com/globalassets/home-com-website/customers/uk/sharp-profile-overview.jpg" alt="image" />
        </div>
    </div>
    <br>
    <div>
        <h3 class="text-left">
            SuperOffice CRM is now the brain of CASEA.
        </h3>
    </div>
    <br>
    <div class="text-left">
        <p>
            CASEA GmbH specialises in the production and worldwide distribution of high-quality gypsum products. With over 150 years of experience in gypsum mining, its processing and the manufacturing of gypsum-based products, CASEA is a much appreciated partner of industry, trade and crafts.
        </p>
    </div>

    <!-- <div class="row">
        <div class="offset-lg-4 col-lg-4 ">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h5 class="font-weight-bold" style="font-size:1.5rem"> GET IN TOUCH<small style="float:right;"></small></h5>                
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" placeholder="Name" autocomplete="off"/><br>
                    <input type="email" class="form-control" placeholder="Email" autocomplete="off"/><br>
                    <input type="email" class="form-control" placeholder="Message" autocomplete="off"/><br>
                    <input type="checkbox" />&nbsp;I authorize InterProducTec to use my data for contacting purpose.<br><br>
                    <button class="btn btn-info" (click)="refresh()">Submit</button>  
                    <h5 style="color:blue;">Replied model : M3 serial ID : 332</h5>
                </div>
            </div>
        
        </div>
    </div> -->

    <div class="container">
        <mat-card class="col-6 mx-auto">
            <mat-card-title>GET IN TOUCH</mat-card-title>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput  required>
            </mat-form-field><br>
            <span class="errormessage">Name is required</span><br>
            <!-- <span class="errormessage">Name should be at least 4 characters long</span> -->
            <br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput  required>
            </mat-form-field><br>
            <span class="errormessage">Email is required</span>
            <br>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <input matInput  required>
            </mat-form-field><br>
            <span class="errormessage">message is required</span>
            <br>
            <br>
            <input type="checkbox"/> I authorize InterProducTec to use my data for contacting purpose.
            <br>
            <br>
            <button class="btn btn-info">Submit</button>
          </mat-card>
    </div>


</div>