<div class="container-fluid p-5">
    <div class="row">
<div class="col-lg-12">
    <h1 style="font-size: 3vw; color: black;" class="mb-5 font-weight-bold">Epps Infotech Pvt. Ltd.</h1>

    <p style="font-size: 1.5vw; opacity: 0.8;">Address:</p><br>
    <p style="font-size: 1.5vw; opacity: 0.8;">Ponama House, 3rd Floor , Plot No-3<br></p>
    <p style="font-size: 1.5vw; opacity: 0.8;">Behind Phoenix Mall,Viman nagar<br></p>
    <p style="font-size: 1.5vw; opacity: 0.8;">Pune – 411014<br></p>
    <p style="font-size: 1.5vw; opacity: 0.8;">Maharashtra, India</p><br>
</div>
<br>
<br>
<br>
<div class="col-lg-12">
           <p style="font-size: 1.5vw; opacity: 0.8;"> 
            Tel: +91 020 67448500</p>
            <p style="font-size: 1.5vw; opacity: 0.8;">Phone: +91-9607982076</p>
            <p style="font-size: 1.5vw; opacity: 0.8;">E-Mail: info@epps-erp.com</p><br>
            <p style="font-size: 1.5vw; opacity: 0.8;">Managing Director:</p>
            <p style="font-size: 1.5vw; opacity: 0.8;">Dr. Atul Pimple</p>
</div>

</div>
</div>